<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Akash Sharma</h1>
    <h2>Hello everyone , I am enthusiast data analyst </h2>
    <img src = "https://web-development.skyanalyst.repl.co/static/pero-kalimero-9BJRGlqoIUk-unsplash.jpg"
      height = "300">
    <h3>About me</h3>
    <p>Python | Tableau | Power BI | SQL | Google Sheets | Power Query | Advance Excel

Good Grasp Over Probability and Statistics to extract Insights from Data.

A highly skilled, competent, and diligent individual is seeking an opportunity to establish a career as a Data Analyst .</p>
  </body>
</html>